<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Nebulas Cat 星云智能合约本地开发调试工具</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/element-ui@2.3.7/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="static/css/style.css?_=1.0.6">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.2.6/dist/vue.min.js"></script>
    <script src="static/js/vue-i18n.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.18.0/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-router@3.0.1/dist/vue-router.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/element-ui@2.3.7/lib/index.js"></script>
</head>

<body>
    <div id="app" v-show="visible" style="display: none;">
        <nav id="nav">
            <div class="logo-menu">
                <router-link class="logo" :to="{path:'/'}">Nebulas Cat</router-link>
                <i class="el-icon-more-outline menu" @click="showMenu"></i>
            </div>
            <el-menu :default-active="activeIndex" id="left-menu" class="el-menu left" mode="horizontal">
                <el-menu-item index="home">
                    <router-link :to="{path:'/config'}">{{$t("project")}}</router-link>
                </el-menu-item>
                <el-menu-item index="account">
                    <router-link :to="{path:'/account'}">{{$t("account")}}</router-link>
                </el-menu-item>
                <el-menu-item index="tutorial">
                    <router-link :to="{path:'/tutorial'}">{{$t("tutorial")}}</router-link>
                </el-menu-item>
                <el-menu-item index="donateReceived">
                    <router-link :to="{path:'/donate/received'}">{{$t("donate")}}</router-link>
                </el-menu-item>
                <el-menu-item index="qa" v-if="locale.locale=='zh'">
                    <router-link :to="{path:'/c/qa'}">问答</router-link>
                </el-menu-item>
                <el-submenu index="tool" v-if="locale.locale=='zh'">
                    <template slot="title">常用网址</template>
                    <el-menu-item>
                        <a href="https://bbs.forfunapp.com/#/topic/c4b68feed5f1d54f52b90a5b82d48c4baa5f3607b1b7fe9afe2909928f9f63ea">没币怎么办</a>
                    </el-menu-item>
                    <el-menu-item>
                        <a href="https://bbs.forfunapp.com/#/topic/f4cf973721a4265cf4d0f231c583420fce60950f7f02b3fd50e7b008bac0243f">怎么获取钱包账号</a>
                    </el-menu-item>
                    <el-menu-item>
                        <a target="_blank" href="https://nebulasio.github.io/neb.js/index.html">Neb.js 文档</a>
                    </el-menu-item>
                    <el-menu-item>
                        <a target="_blank" href="https://github.com/nebulasio/wiki">官方Wiki</a>
                    </el-menu-item>
                    <el-menu-item>
                        <a target="_blank" href="https://github.com/nebulasio/nebPay/blob/master/doc/NebPay介绍.md">NebPay文档</a>
                    </el-menu-item>
                    <el-menu-item>
                        <a target="_blank" href="https://blog.nebulas.io/2018/05/09/how-to-use-nebpay-in-your-dapp/">NebPay教程</a>
                    </el-menu-item>
                    <el-menu-item>
                        <a target="_blank" href="https://blog.nebulas.io/2018/05/04/how-to-build-a-dapp-on-nebulas-part-1/">手把手教你星云DApp开发</a>
                    </el-menu-item>
                </el-submenu>
                <el-submenu index="lang">
                    <template slot="title">{{locale.name}}</template>
                    <el-menu-item :index="'lang-'+item.local" @click="changeLocal(item)" :key="item.local" v-for="item in locales">{{item.name}}</el-menu-item>
                </el-submenu>
            </el-menu>
            <el-menu :default-active="activeIndex" id="right-menu" class="el-menu right" mode="horizontal" style="padding-right:100px;">
                <el-menu-item index="nas-num">{{balance}} NAS</el-menu-item>
            </el-menu>
        </nav>
        <div class="container" id="container">
            <div style="text-align:center;padding-left:20px;">
                <!-- location.host.search('forfunapp')!=-1 -->
                <el-alert type="error" class="noExtension" v-if="false">
                    请将该工具下载到本地使用！该工具除了打赏功能外，不能在线上使用！
                </el-alert>
                <el-alert type="warning" class="noExtension">
                    {{$t("submitDAppTips")}}
                </el-alert>
                <el-alert type="error" class="noExtension" id="noExtension" v-if="noExtension" v-html="$t('noExtension')">
                </el-alert>
            </div>
            <el-row style="padding-top: 5px;">
                <el-col :span="24" :xs="24" id="content-left">
                    <div class="content">
                        <router-view></router-view>
                    </div>
                </el-col>
            </el-row>
            <div class="footer" v-html="$t('PoweredbyNebulas')"></div>
        </div>
    </div>
    <script type="text/x-template" id="home-tpl">
        <div id="home" class="box" v-loading="loading" element-loading-text="努力加载中">
            <div class="topic-list">
                <div class="header header-black">
                    <div class="left">
                        问答列表
                    </div>
                    <div class="right">
                        <a target="_blank" href="htps://bbs.forfunapp.com/#/topic/add" class="el-button el-button--primary el-button--mini is-round">
                            <i class="el-icon-circle-plus"></i>
                            <span>我要提问</span>
                        </a>
                    </div>
                </div>
                <div class="item-list">
                    <el-row class="topic-item" v-if="checkHiddenTopic(item.hash)" v-for="item in topicList.topic" :key="item.hash">
                        <el-col :span="2" :xs="4" class="avatar">
                            <img referrerpolicy="no-referrer" :src="item.user.avatar|buildAvatar" alt="">
                        </el-col>
                        <el-col :span="22" :xs="18" class="topic">
                            <p class="title">
                                <a :href="item.hash|buildTopicUrl" target="_blank">{{item.title}}</a>
                            </p>
                            <div class="topic-info">
                                <router-link class="category" :to="'/c/'+item.category">{{item.categoryDetail.name}}</router-link>&nbsp;•&nbsp;
                                <strong>
                                    <a href="javascript:void(0)">{{item.user.nickName}}</a>
                                </strong> &nbsp;•&nbsp; {{item.created|dateFormat}}
                                <span v-if="item.lastUserInfo"> &nbsp;•&nbsp;最后回复来自
                                    <strong>
                                        <a href="javascript:void(0)">{{item.lastUserInfo.nickName}}</a>
                                    </strong>
                                </span>
                            </div>
                            <span class="badge">{{item.replyNums}}</span>
                        </el-col>
                    </el-row>
                </div>
                <div style="text-align:center;margin:20px auto;">
                    <el-button round size="medium" :disabled="loadingMoreDisabled" :loading="loadingMoreStatus" @click="loadingMore">{{loadingMoreText}}</el-button>
                </div>
            </div>
        </div>
    </script>

    <script type="text/x-template" id="config-tpl">
        <div class="box" id="config">
            <div class="header header-black">
                <div class="left">{{$t("projectConfig")}}</div>
            </div>
            <div class="content">
                <!-- 显示账户余额 -->
                <!-- 显示合约余额 -->

                <!-- 设置合约文件路径 -->
                <el-form label-width="100px" style="padding:60px 100px;">
                    <el-form-item :label="$t('contractFilePath')">
                        <el-input id="contractPath" v-model="contractPath"></el-input>
                        <p style="margin: 0px;color:#ccc;">{{$t('contractFileTips')}}</p>
                    </el-form-item>
                    <el-form-item :label="$t('deployArgs')">
                        <el-input type="textarea" v-model="args"></el-input>
                    </el-form-item>
                    <!-- <el-form-item label="">
                        <el-checkbox v-model="call_init">执行init方法<span class="tips">(默认会自动检测，即已经执行过init方法后，将不再执行init)</span></el-checkbox>
                    </el-form-item> -->

                    <el-form-item label="">
                        <el-checkbox v-model="remove_data"><span v-html="$t('removeContractData')"></span></el-checkbox>
                    </el-form-item>

                    <el-form-item>
                        <el-button :disabled="!activated" type="primary" @click="saveContractPath()">{{$t('deploy')}}</el-button>
                    </el-form-item>
                </el-form>

                <el-form label-width="100px" style="padding:10px 100px;">
                    <el-form-item :label="$t('contractMethod')">
                        <el-input v-model="call.func"></el-input>
                        <el-radio-group v-model="call.func" size="mini" id="contractMethods">
                            <el-radio-button :label="item" v-for="item in contractMethods"></el-radio-button>
                        </el-radio-group>
                    </el-form-item>
                    <el-form-item :label="$t('sendNAS')">
                        <el-input v-model="call.value" style="width:194px;">
                            <template slot="append">NAS</template>
                        </el-input>
                    </el-form-item>
                    <el-form-item :label="$t('methodArguments')">
                        <el-input type="textarea" v-model="call.args"></el-input>
                    </el-form-item>
                    <el-form-item label="">
                        <el-checkbox v-model="result2json">{{$t('result2json')}}</el-checkbox>
                    </el-form-item>
                    <el-form-item :label="$t('callResult')">
                        <div v-html="call.result"></div>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="primary" @click="callContract('test')">{{$t('test')}}</el-button>
                        <el-button type="warning" @click="callContract('submit')">{{$t('submit')}}</el-button>
                    </el-form-item>
                </el-form>
                <!-- 目录说明 -->
            </div>
        </div>
    </script>

    <script type="text/x-template" id="donate-add-tpl">
        <div class="box" id="donate-add">
            <div class="header header-black">
                <div class="left">{{$t('donate')}}</div>
                <div class="right">
                </div>
            </div>
            <div class="content">
                <el-row>
                    <el-alert type="error">
                        <span style="font-size:14px;" v-html="$t('donateTips')"></span>
                    </el-alert>
                    <el-col :span="10" :offset="6">
                        <el-form :model="donate" :rules="donateAddRule" ref="donate" status-icon label-width="100px" style="margin:50px 0px;">
                            <el-form-item :label="$t('price')" prop="value">
                                <el-input v-model.number="donate.value">
                                    <template slot="append">NAS</template>
                                </el-input>
                            </el-form-item>
                            <el-form-item :label="$t('donateName')" prop="name">
                                <el-input v-model="donate.name"></el-input>
                            </el-form-item>
                            <el-form-item :label="$t('website')" prop="url">
                                <el-input v-model="donate.url"></el-input>
                            </el-form-item>
                            <el-form-item :label="$t('description')" prop="content">
                                <el-input :rows="5" type="textarea" v-model="donate.content"></el-input>
                            </el-form-item>
                            <el-form-item>
                                <el-button type="primary" @click="submitForm('donate')">{{$t('donate')}}</el-button>
                            </el-form-item>
                        </el-form>
                    </el-col>
                </el-row>
            </div>
        </div>
    </script>
    <script type="text/x-template" id="account-tpl">
        <div class="box" id="account" v-loading="loading">
                <div class="header header-black">
                    <div class="left">
                        {{$t('accountList')}}
                    </div>
                </div>
                <div class="content">
                    <table class="table">
                        <tr>
                            <th>{{$t('address')}}</th>
                            <th>{{$t('balance')}}</th>
                            <th>{{$t('action')}}</th>
                        </tr>
                        <tr v-for="account in accounts" :key="account.address">
                                <td>{{account.address=='contract'?$t('contractAddress'):account.address}}</td>
                                <td>
                                    {{account.balance|JSON.stringify}}
                                    <p style="margin:0px;color:#bbb;font-size:13px;">{{account.balance|fromBasicNas}} NAS</p>
                                </td>
                                <td>
                                    <a class="el-button--text" href="" @click.prevent="changeBalance(account)">{{$t('changeBalance')}}</a>
                                </td>
                            </tr>
                    </table>
                </div>
        </div>
    </script>
    <script type="text/x-template" id="my-received-donate-tpl">
        <div class="box" id="my-received-donate" v-loading="donateListLoading">
            <div class="header header-black">
                <div class="left">
                    {{$t('receivedDonate')}}
                </div>
                <div class="right">
                    <el-button type="primary" @click="$router.push({path:'/donate/add'})" size="mini" icon="el-icon-circle-plus" round>{{$t('donateNow')}}</el-button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="blue-color">{{$t('donateNums',{nums:$eventHub.stat.donateNums})}} {{$eventHub.stat.totalDonateNas|fromBasicNas}}
                        NAS</span>
                </div>
            </div>
            <div class="content">
                <table class="table donate-info">
                    <tr>
                        <th style="width: 55%;">{{$t('donatePeople')}}</th>
                        <th style="width: 30%;">{{$t('donatePrice')}}</th>
                        <th style="width: 15%;">{{$t('donateTime')}}</th>
                    </tr>
                    <tr v-for="item in donateList.donate" :key="item.txhash">
                        <td class="content">
                            <a target="blank" :href="item.url" class="hl">{{item.name}}</a>
                            <div style="color:#666;">{{item.content}}</div>
                        </td>
                        <td class="title">{{item.value|fromBasicNas}} NAS</td>
                        <td class="date">{{item.created|dateFormat}}</td>
                    </tr>
                </table>
                <div style="text-align:center;margin:20px auto;">
                    <el-button round size="medium" :disabled="noMoreData" :loading="loadingMoreStatus" @click="loadingMore">{{loadingMoreText}}</el-button>
                </div>
            </div>
        </div>
    </script>
    <script type="text/x-template" id="about-tpl">
        <div id="about" class="box">
            <div class="header" style="color:#333;font-size:17px;font-weight:bold;">Nebulas Cat 星云链DAPP本地开发调试工具</div>
            <div class="content">
                <div>
                </div>
            </div>
        </div>
    </script>

    <script type="text/x-template" id="tutorial-tpl">
        <div id="tutorial" class="box">
            <div class="header" style="color:#333;font-size:17px;font-weight:bold;">{{$t('tutorialTitle')}}</div>
            <div class="content" v-if="locale.locale=='en'">
                <p>Welcome to use Nebulas Cat, this is a local development and debugging tool for Nebulas dapp.</p>
                <h3>Tutorial</h3>
                <p>1. Download the 
                    <a target="_blank" href="https://github.com/xiwangzishi/nebulas-cat">Nebulas Cat</a> source code
                    <code>git clone https://github.com/xiwangzishi/nebulas-cat.git</code>
                </p>

                <p>2. Enter the folder "nebulas-cat"，install the dependent files
                    <code>npm install</code>
                </p>
                <!-- （You need to restart the tool or debug program after updating contract files） -->
                <p>3. How to run：</p>
                <ul style="margin-left:30px;">
                    <li>Method 1(Recommended)：Use the debug function in Visual Studio Code（can use break point）
                        <ul style="margin-left:30px;margin-top:10px;">
                            <li>3.1.1 Open the "nebulas-cat" folder with Visual Studio Code
                                <p style="color:#F56C6C;">Note: Open the "nebulas-cat" folder, not your project folder</p>
                            </li>
                            <li>
                                <p>3.1.2 <code>Debug -> Start Debugging</code></p>
                                <p><img style="width:500px;margin:10px;" src="static/images/vsc-step-en.png" alt="">
                                </p>
                            </li>
                        </ul>
                    </li>
                    <li>Method 2: 
                        <p>Enter the folder "nebulas-cat", Execute command <code>node index.js</code>, then use console.log in contract file to print info（will output to terminal console）</p>
                        <img style="width:500px;margin:10px;" src="static/images/cli-step-en.png" alt="">
                    </li>
                </ul>

                <p>4. Set network as localhost in Chrome extension wallent</p>
                <img style="width:500px;margin:10px;" src="static/images/chrome-plugin-en.png" alt="">
                <div>5. Set request as localhost in Neb.js （in the js source code of your DAPP）
                    <p>
                        <code>neb.setRequest(new HttpRequest("http://localhost:8685"));</code>
                    </p>
                </div>
                <p>6. Set the queryPayInfo API callback in NebPay as localhost url（Skip this step if you haven't used this API. You can set this in the js source code of your DAPP.）
<pre>
<code style="display:block;">
    NebPay.queryPayInfo(serialNumber,{
        callback:'http://localhost:8685/api/pay',
        listener:undefined
    })
</code>
</pre>
                </p>

                <p>7. Open inden.html under nebulas-cat via browser and input
                    <code>the path of your contract file</code>，click
                    <code>Deploy</code> to start.</p>
                <img style="width:500px;margin:10px;" src="static/images/config-en.png" alt="">

                <h3>How it works</h3>
                <p>This tool is basically a mock web server based on Koa.js, pretending to be a mining node.
                </p>
                <p>Available APIs：</p>
                <ul>
                    <li>
                        <code>/v1/user/nebstate</code>
                    </li>
                    <li>
                        <code>/v1/user/call</code>
                    </li>
                    <li>
                        <code>/v1/user/accountstate</code>
                    </li>
                    <li>
                        <code>/v1/user/rawtransaction</code>
                    </li>
                    <li>
                        <code>/v1/user/getTransactionReceipt</code>
                    </li>
                    <li>
                        <code>/v1/user/getEventsByHash</code>
                    </li>
                    <li>NebPay：
                        <code>/api/pay</code>
                    </li>
                    <li>NebPay：
                        <code>/api/pay/query</code>
                    </li>
                </ul>
                <p>When clicking "Deploy", the tool requires your contract file as a module of Node.js. And requests of Neb.js actually call methods of contract instance directly, so you can also Visual Studio Code to debug the contract (theoretically IDE can do, figure it out yourself). All source codes are in index.js</p>
                <p>This project contains source codes of the official
                    <a href="https://github.com/nebulasio/neb.js/tree/feature/nvm">NVM</a> debug tool.</p>
              

            </div>



            <div class="content" v-if="locale.locale=='zh'">
                <p>欢迎使用 Nebulas Cat 星云链 DAPP 本地开发调试工具，使用过程中遇到任何问题可以到
                    <a target="_blank" href="https://bbs.forfunapp.com/">链社区</a> 发帖交流。</p>
                <h3>使用教程</h3>
                <p>1. 下载
                    <a target="_blank" href="https://github.com/xiwangzishi/nebulas-cat">Nebulas Cat</a> 源码
                    <code>git clone https://github.com/xiwangzishi/nebulas-cat.git</code>
                </p>

                <p>2. 进入 nebulas-cat 文件夹，安装依赖
                    <code>npm install</code>
                </p>

                <p>3. 运行工具（合约文件更新后，会自动重新载入新的合约代码）：</p>
                <ul>
                    <li>方法一(推荐)：使用 Visual Studio Code 的调试功能（可以在合约里面下断点）
                        <ul style="margin-left:30px;margin-top:10px;">
                            <li>3.1.1 使用 Visual Studio Code 打开 nebulas-cat 文件夹
                                <p style="color:#F56C6C;">注意：打开的是 nebulas-cat 文件夹，不是你自己的项目文件夹</p>
                            </li>
                            <li>
                                <p>3.1.2 <code>调试 -> 启动调试</code></p>
                                <p><img style="width:500px;margin:10px;" src="static/images/vsc-step.png" alt="">
                                </p>
                            </li>
                        </ul>
                        
                    </li>
                    <li>方法二：
                        进入 <strong>nebulas-cat</strong> 文件夹，执行 <code>node index.js</code>, 然后直接在合约里面使用 console.log 打印对应信息（会输出到控制台）
                        <img style="width:500px;margin:10px;" src="static/images/cli-step.png" alt="">
                    </li>
                </ul>

                <p>4. 设置chrome 插件钱包为 localhost 网络</p>
                <img style="width:500px;margin:10px;" src="static/images/chrome-plugin.png" alt="">
                <div>5. 设置 Neb.js 网络为 localhost 网络（在你 DAPP 的 JS 代码中设置）
                    <p>
                        <code>neb.setRequest(new HttpRequest("http://localhost:8685"));</code>
                    </p>
                </div>
                <p>6. 设置 NebPay 的 queryPayInfo API callback为 localhost 网络（如果未使用该API则跳过，此处在你 DAPP 的 JS 代码中 NebPay.queryPayInfo
                    处设置）
                    <pre>
<code style="display:block;">
    NebPay.queryPayInfo(serialNumber,{
        callback:'http://localhost:8685/api/pay',
        listener:undefined
    })
</code>
</pre>
                </p>

                <p>7. 用浏览器打开 nebulas-cat 目录下的 index.html 后输入
                    <code>合约文件路径</code>，点击
                    <code>部署</code>即可使用。</p>
                <img style="width:500px;margin:10px;" src="static/images/config.png" alt="">

                <h3>原理</h3>
                <p>其实就是本地起了一个 Web 服务（基于 Koa）,然后实现了 Neb.js 请求节点的一些 API ，假装自己是个记账节点而已。</p>
                <p>目前实现的 API 有：</p>
                <ul>
                    <li>
                        <code>/v1/user/nebstate</code>
                    </li>
                    <li>
                        <code>/v1/user/call</code>
                    </li>
                    <li>
                        <code>/v1/user/accountstate</code>
                    </li>
                    <li>
                        <code>/v1/user/rawtransaction</code>
                    </li>
                    <li>
                        <code>/v1/user/getTransactionReceipt</code>
                    </li>
                    <li>
                        <code>/v1/user/getEventsByHash</code>
                    </li>
                    <li>NebPay：
                        <code>/api/pay</code>
                    </li>
                    <li>NebPay：
                        <code>/api/pay/query</code>
                    </li>
                </ul>
                <p>点击部署按钮，就是把输入的合约文件路径 require 进来作为 Node.js 的一个模块，然后 Neb.js 的请求都是直接调用合约实例的方法，所以可以直接利用 Visual Studio Code 来调试合约功能（理论上其他
                    IDE 也可以，自行摸索！）。具体的源码都在 index.js 中</p>
                <p>本项目使用了一些官方
                    <a href="https://github.com/nebulasio/neb.js/tree/feature/nvm">NVM</a> 调试工具的一些源码</p>
                <p>联系我：d2VjaGF0Onphbmtibw==</p>
            </div>
        </div>
    </script>



    <script src="dist/nebulas.js"></script>
    <script src="dist/nebPay.js"></script>
    <script src="static/js/locale.js?_=201806101200"></script>
    <script src="static/js/index.js?_=201806101930"></script>
</body>

</html>
